.footer {
    position: relative;
    height: 30vh;
    background-color: #f7f7f7;

    &__content {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

.heart {
    color: #ff0000;
}