.archive {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    &__details {
        width: 100%;
        padding: 1rem;

        &-title {
            font-size: 2rem;
        }

    }

    &__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin: 1rem 0rem;
        padding: .5rem;
    }

    &__container-title {
        margin: 0rem 0rem 2rem 0rem;

        &-main {
            font-size: 2rem;
        }

    }

    &__description {
        display: grid;
        grid-template-columns: 0.35fr 1fr;
        column-gap: .5rem;
        grid-template-areas: 
        "archive__description-img archive__description-content";
    }

    &__description-img {
        grid-area: archive__description-img;
    }

    &__description-img img {
        width: 100%;
        height: auto;
    }

    &__description-content {
        grid-area: archive__description-content;
    }

}

/*
* Media Queries
* max-width: 767px
*/ 
@media (max-width: 767px) {

    .archive__description {
        grid-template-columns: 1fr;
        column-gap: 0;
        grid-template-areas: 
        "archive__description-img"
        "archive__description-content";

        &-img img {
            width: 50%;
            margin-bottom: 1rem;
        }
    }

}