.single-post__container {
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.single-post__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.single-post__content {
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.single-post__image {
    width: 50%;
    margin-bottom: 2rem;
}

.single-post__image img {
    width: 80%;
    height: auto;
    border: 1px solid #000;
    margin: 10px 0;
    object-fit: cover;
}

h1,
h2,
h3 {
    margin-top: 1.5rem;
}