.font-painting-background {
    background-image: url('../../images/painting_01.jpg');
    -webkit-background-clip: text;
    background-color: text;
    color: transparent;
}

.link-no-decoration {
    text-decoration: none;
    color: #000;
}

.link-hover:hover {
    color: $color_link;
}

.paragraph {
    line-height: 1.6;
}